html {
  color: hsl(45, 100%, 50%);
  background-color: hsl(240, 100%, 2.5%);
}

.App {
  background: center url(./images/SpiralStar.svg);
  background-repeat: repeat-y;
  background-size: cover;
  /* height: 100vh; */
}

header,
main {
  padding: 0.5em;
  border-bottom: 1px solid hsl(45, 100%, 50%);
  background: hsla(240, 100%, 5%, 0.75);
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
}
header img {
}
img#logo {
  float: left;
  height: 6em;
}
img#title {
  height: 3em;
}
h1 {
  border-bottom: 1px solid hsl(240, 100%, 95%);
}
main {
  padding: 1em;
  color: hsl(240, 100%, 95%);
  margin-top: 1em;
}
a {
  color: hsl(240, 100%, 95%);
}
#Gallery {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
#Gallery > .Image {
  display: flex;
  align-items: center;
  width: calc((100vw - 3em) / 4);
  height: calc((100vw - 3em) / 4);
}
#Gallery > .Image img {
  width: 100%;
}
#Gallery > .Image:hover {
  cursor: pointer;
}
#Gallery > .Image .Detail {
  display: none;
  position: absolute;
  top: -1em;
  left: -1em;
  width: calc(100vw - 2px - 2em);
  background: hsla(240, 100%, 5%, 0.95);
  border: 1px solid hsl(240, 100%, 95%);
  padding: 0.5em;
}
#Gallery > .Image .Detail .CloseButton {
  width: 3em;
  height: 3em;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}
#Gallery > .Image .Detail .CloseButton:hover {
  filter: invert();
}
#Gallery > .Image .Detail.visible {
  display: block;
}
